In [2]:
import ipywidgets as widgets
import sys
from pathlib import Path
import os
import importlib


module_path='preprocessing/day_intervals_preproc'
if module_path not in sys.path:
    sys.path.append(module_path)

module_path='utils'
if module_path not in sys.path:
    sys.path.append(module_path)
    
module_path='preprocessing/hosp_module_preproc'
if module_path not in sys.path:
    sys.path.append(module_path)
    
module_path='model'
if module_path not in sys.path:
    sys.path.append(module_path)

root_dir = "/data/corpora_alpha/MIMIC/MIMIC_IV_2.2/files"

import day_intervals_cohort
from day_intervals_cohort import *

import day_intervals_cohort_v2
from day_intervals_cohort_v2 import *

import data_generation_icu

import data_generation
import evaluation

import feature_selection_hosp
from feature_selection_hosp import *

# import train
# from train import *


import ml_models
from ml_models import *

import dl_train
from dl_train import *

import tokenization
from tokenization import *


import behrt_train
from behrt_train import *

import feature_selection_icu
from feature_selection_icu import *
import fairness
import callibrate_output

In [3]:
importlib.reload(day_intervals_cohort)
import day_intervals_cohort
from day_intervals_cohort import *

importlib.reload(day_intervals_cohort_v2)
import day_intervals_cohort_v2
from day_intervals_cohort_v2 import *

importlib.reload(data_generation_icu)
import data_generation_icu
importlib.reload(data_generation)
import data_generation

importlib.reload(feature_selection_hosp)
import feature_selection_hosp
from feature_selection_hosp import *

importlib.reload(feature_selection_icu)
import feature_selection_icu
from feature_selection_icu import *

importlib.reload(tokenization)
import tokenization
from tokenization import *

importlib.reload(ml_models)
import ml_models
from ml_models import *

importlib.reload(dl_train)
import dl_train
from dl_train import *

importlib.reload(behrt_train)
import behrt_train
from behrt_train import *

importlib.reload(fairness)
import fairness

importlib.reload(callibrate_output)
import callibrate_output

importlib.reload(evaluation)
import evaluation

In [4]:
def eda_basic(dataframes, dataframes_names = None, log_path=None):
    '''
    Perform basic exploratory data analysis on a list of pandas DataFrames.
    Args:
    dataframes (list): A list of pandas DataFrames.
    dataframes_names (list, optional): A list of names for the DataFrames. If provided, the names will be used to distinguish between the DataFrames in the results.
    log_path (str, optional): The path to save the log file. If provided, the results will be logged to the file.
    '''
    if(len(dataframes) == 0):
        print("No dataframes provided.")
        return
    
    if dataframes_names:
        if len(dataframes) != len(dataframes_names):
            print("The number of dataframes and the number of names provided do not match.")
            return

    if log_path:
        log_file_path = os.path.join(log_path, 'eda_basic_log.txt')
        os.makedirs(os.path.dirname(log_file_path), exist_ok=True)
        log_file = open(log_file_path, 'a')
        log_file.write(f"{'='*40}\n")
        log_file.write(f"{pd.Timestamp.now()}\n")
        log_file.write(f"{'='*40}\n")
        
    for df_index in range(len(dataframes)):
        if dataframes_names:
            print(f"{'*'*40}\n{dataframes_names[df_index]}\n{'*'*40}")
            if log_path:
                log_file.write(f"{'*'*40}\n{dataframes_names[df_index]}\n{'*'*40}\n")
        with pd.option_context('display.max_rows', None, 'display.max_columns', None, 'display.width', None):
            results = [
                ("First few rows of the dataframe:\n", dataframes[df_index].head()),
                ("Columns in the dataframe:\n", dataframes[df_index].columns),
                ("Number of rows in the dataframe:\n", dataframes[df_index].shape[0]),
                ("Missing values in the dataframe:\n", dataframes[df_index].isnull().sum()),
                ("Number of duplicate rows in the dataframe:\n", dataframes[df_index].duplicated().sum()),
                ("Data types of columns:\n", dataframes[df_index].dtypes),
                ("Number of unique values in each column:\n", dataframes[df_index].nunique()),
            ]
            for label, result in results:
                print(label)
                print(result)
                print()
                if log_path:
                    log_file.write(f"{label}{result}\n\n")
            if log_path:
                log_file.write(f"{'X'*40}\n")
    if log_path:
        log_file.close()

In [77]:
#Uncomment if need to generate the cohort again
imputation_cohort_var_non_ICU = day_intervals_cohort_v2.extract_imputation_data("Non-ICU", root_dir)
#imputation_cohort_var_ICU = day_intervals_cohort_v2.extract_imputation_data("ICU", root_dir)

EXTRACTING FOR: | NON-ICU | IMPUTATION |

In [5]:
imputation_cohort_var_non_ICU = "cohort_non-icu_imputation"
imputation_cohort_var_ICU = "cohort_icu_imputation"
imputation_cohort_dataset_non_ICU = pd.read_csv(f"./data/cohort/{imputation_cohort_var_non_ICU}.csv.gz")
imputation_cohort_dataset_ICU = pd.read_csv(f"./data/cohort/{imputation_cohort_var_ICU}.csv.gz")

In [50]:
eda_basic([imputation_cohort_dataset_non_ICU, imputation_cohort_dataset_ICU], ['Non-ICU', 'ICU'], './data/summary/')

****************************************
Non-ICU
****************************************
First few rows of the dataframe:

   subject_id   hadm_id            admittime            dischtime deathtime  \
0    10000032  22595853  2180-05-06 22:23:00  2180-05-07 17:15:00       NaN
1    10000032  22841357  2180-06-26 18:27:00  2180-06-27 18:49:00       NaN
2    10000032  25742920  2180-08-05 23:44:00  2180-08-07 17:50:00       NaN
3    10000032  29079034  2180-07-23 12:35:00  2180-07-25 17:55:00       NaN
4    10000068  25022803  2160-03-03 23:16:00  2160-03-04 06:26:00       NaN

   admission_type admit_provider_id      admission_location  \
0          URGENT            P874LG  TRANSFER FROM HOSPITAL
1        EW EMER.            P09Q6Y          EMERGENCY ROOM
2        EW EMER.            P60CC5          EMERGENCY ROOM
3        EW EMER.            P30KEH          EMERGENCY ROOM
4  EU OBSERVATION            P51VDL          EMERGENCY ROOM

  discharge_location insurance language marital_status   race  \
0               HOME     Other  ENGLISH        WIDOWED  WHITE
1               HOME  Medicaid  ENGLISH        WIDOWED  WHITE
2            HOSPICE  Medicaid  ENGLISH        WIDOWED  WHITE
3               HOME  Medicaid  ENGLISH        WIDOWED  WHITE
4                NaN     Other  ENGLISH         SINGLE  WHITE

             edregtime            edouttime  hospital_expire_flag  \
0  2180-05-06 19:17:00  2180-05-06 23:30:00                     0
1  2180-06-26 15:54:00  2180-06-26 21:31:00                     0
2  2180-08-05 20:58:00  2180-08-06 01:44:00                     0
3  2180-07-23 05:54:00  2180-07-23 14:00:00                     0
4  2160-03-03 21:55:00  2160-03-04 06:26:00                     0

               los gender  anchor_age  anchor_year anchor_year_group  \
0  0 days 18:52:00      F          52         2180       2014 - 2016
1  1 days 00:22:00      F          52         2180       2014 - 2016
2  1 days 18:06:00      F          52         2180       2014 - 2016
3  2 days 05:20:00      F          52         2180       2014 - 2016
4  0 days 07:10:00      F          19         2160       2008 - 2010

          dod   yob  min_valid_year
0  2180-09-09  2128            2183
1  2180-09-09  2128            2183
2  2180-09-09  2128            2183
3  2180-09-09  2128            2183
4         NaN  2141            2169

Columns in the dataframe:

Index(['subject_id', 'hadm_id', 'admittime', 'dischtime', 'deathtime',
       'admission_type', 'admit_provider_id', 'admission_location',
       'discharge_location', 'insurance', 'language', 'marital_status', 'race',
       'edregtime', 'edouttime', 'hospital_expire_flag', 'los', 'gender',
       'anchor_age', 'anchor_year', 'anchor_year_group', 'dod', 'yob',
       'min_valid_year'],
      dtype='object')

Number of rows in the dataframe:

431231

Missing values in the dataframe:

subject_id                   0
hadm_id                      0
admittime                    0
dischtime                    0
deathtime               422633
admission_type               0
admit_provider_id            4
admission_location           0
discharge_location      119155
insurance                    0
language                     0
marital_status            9233
race                         0
edregtime               131949
edouttime               131949
hospital_expire_flag         0
los                          0
gender                       0
anchor_age                   0
anchor_year                  0
anchor_year_group            0
dod                     325013
yob                          0
min_valid_year               0
dtype: int64

Number of duplicate rows in the dataframe:

0

Data types of columns:

subject_id               int64
hadm_id                  int64
admittime               object
dischtime               object
deathtime               object
admission_type          object
admit_provider_id       object
admission_location      object
discharge_location      object
insurance               object
language                object
marital_status          object
race                    object
edregtime               object
edouttime               object
hospital_expire_flag     int64
los                     object
gender                  object
anchor_age               int64
anchor_year              int64
anchor_year_group       object
dod                     object
yob                      int64
min_valid_year           int64
dtype: object

Number of unique values in each column:

subject_id              180733
hadm_id                 431231
admittime               424564
dischtime               420653
deathtime                 8598
admission_type               9
admit_provider_id         1728
admission_location          11
discharge_location          13
insurance                    3
language                     2
marital_status               4
race                        33
edregtime               293964
edouttime               294010
hospital_expire_flag         2
los                      35024
gender                       2
anchor_age                  73
anchor_year                 99
anchor_year_group            5
dod                      18612
yob                        163
min_valid_year             103
dtype: int64

****************************************
ICU
****************************************
First few rows of the dataframe:

   subject_id_x   hadm_id   stay_id  \
0      10000032  29079034  39553978
1      10000980  26913865  39765666
2      10001217  24597018  37067082
3      10001217  27703517  34592300
4      10001725  25563031  31205490

                                     first_careunit  \
0                Medical Intensive Care Unit (MICU)
1                Medical Intensive Care Unit (MICU)
2               Surgical Intensive Care Unit (SICU)
3               Surgical Intensive Care Unit (SICU)
4  Medical/Surgical Intensive Care Unit (MICU/SICU)

                                      last_careunit               intime  \
0                Medical Intensive Care Unit (MICU)  2180-07-23 14:00:00
1                Medical Intensive Care Unit (MICU)  2189-06-27 08:42:00
2               Surgical Intensive Care Unit (SICU)  2157-11-20 19:18:02
3               Surgical Intensive Care Unit (SICU)  2157-12-19 15:42:24
4  Medical/Surgical Intensive Care Unit (MICU/SICU)  2110-04-11 15:52:22

               outtime       los gender  anchor_age  anchor_year  \
0  2180-07-23 23:50:47  0.410266      F          52         2180
1  2189-06-27 20:38:27  0.497535      F          73         2186
2  2157-11-21 22:08:00  1.118032      F          55         2157
3  2157-12-20 14:27:41  0.948113      F          55         2157
4  2110-04-12 23:59:56  1.338588      F          46         2110

  anchor_year_group         dod   yob  min_valid_year  subject_id_y  \
0       2014 - 2016  2180-09-09  2128            2183      10000032
1       2008 - 2010  2193-08-26  2113            2195      10000980
2       2011 - 2013         NaN  2102            2163      10001217
3       2011 - 2013         NaN  2102            2163      10001217
4       2011 - 2013         NaN  2064            2116      10001725

             admittime            dischtime deathtime admission_type  \
0  2180-07-23 12:35:00  2180-07-25 17:55:00       NaN       EW EMER.
1  2189-06-27 07:38:00  2189-07-03 03:00:00       NaN       EW EMER.
2  2157-11-18 22:56:00  2157-11-25 18:00:00       NaN       EW EMER.
3  2157-12-18 16:58:00  2157-12-24 14:55:00       NaN   DIRECT EMER.
4  2110-04-11 15:08:00  2110-04-14 15:00:00       NaN       EW EMER.

  admit_provider_id  admission_location discharge_location insurance language  \
0            P30KEH      EMERGENCY ROOM               HOME  Medicaid  ENGLISH
1            P30KEH      EMERGENCY ROOM   HOME HEALTH CARE  Medicare  ENGLISH
2            P4645A      EMERGENCY ROOM   HOME HEALTH CARE     Other        ?
3            P99698  PHYSICIAN REFERRAL   HOME HEALTH CARE     Other        ?
4            P35SU0                PACU               HOME     Other  ENGLISH

  marital_status                    race            edregtime  \
0        WIDOWED                   WHITE  2180-07-23 05:54:00
1        MARRIED  BLACK/AFRICAN AMERICAN  2189-06-27 06:25:00
2        MARRIED                   WHITE  2157-11-18 17:38:00
3        MARRIED                   WHITE                  NaN
4        MARRIED                   WHITE                  NaN

             edouttime  hospital_expire_flag
0  2180-07-23 14:00:00                     0
1  2189-06-27 08:42:00                     0
2  2157-11-19 01:24:00                     0
3                  NaN                     0
4                  NaN                     0

Columns in the dataframe:

Index(['subject_id_x', 'hadm_id', 'stay_id', 'first_careunit', 'last_careunit',
       'intime', 'outtime', 'los', 'gender', 'anchor_age', 'anchor_year',
       'anchor_year_group', 'dod', 'yob', 'min_valid_year', 'subject_id_y',
       'admittime', 'dischtime', 'deathtime', 'admission_type',
       'admit_provider_id', 'admission_location', 'discharge_location',
       'insurance', 'language', 'marital_status', 'race', 'edregtime',
       'edouttime', 'hospital_expire_flag'],
      dtype='object')

Number of rows in the dataframe:

73181

Missing values in the dataframe:

subject_id_x                0
hadm_id                     0
stay_id                     0
first_careunit              0
last_careunit               0
intime                      0
outtime                     0
los                         0
gender                      0
anchor_age                  0
anchor_year                 0
anchor_year_group           0
dod                     44907
yob                         0
min_valid_year              0
subject_id_y                0
admittime                   0
dischtime                   0
deathtime               64860
admission_type              0
admit_provider_id           2
admission_location          0
discharge_location        637
insurance                   0
language                    0
marital_status           5113
race                        0
edregtime               24898
edouttime               24898
hospital_expire_flag        0
dtype: int64

Number of duplicate rows in the dataframe:

0

Data types of columns:

subject_id_x              int64
hadm_id                   int64
stay_id                   int64
first_careunit           object
last_careunit            object
intime                   object
outtime                  object
los                     float64
gender                   object
anchor_age                int64
anchor_year               int64
anchor_year_group        object
dod                      object
yob                       int64
min_valid_year            int64
subject_id_y              int64
admittime                object
dischtime                object
deathtime                object
admission_type           object
admit_provider_id        object
admission_location       object
discharge_location       object
insurance                object
language                 object
marital_status           object
race                     object
edregtime                object
edouttime                object
hospital_expire_flag      int64
dtype: object

Number of unique values in each column:

subject_id_x            50920
hadm_id                 66239
stay_id                 73181
first_careunit              9
last_careunit               9
intime                  73176
outtime                 73179
los                     67140
gender                      2
anchor_age                 73
anchor_year                98
anchor_year_group           4
dod                     12863
yob                       154
min_valid_year            103
subject_id_y            50920
admittime               65980
dischtime               65919
deathtime                6958
admission_type              9
admit_provider_id        1110
admission_location         11
discharge_location         13
insurance                   3
language                    2
marital_status              4
race                       33
edregtime               43753
edouttime               43752
hospital_expire_flag        2
dtype: int64

In [8]:
diag_flag = False
lab_flag = True
proc_flag = False
med_flag = False
cohort_output = imputation_cohort_var_non_ICU
version_path = "mimiciv/2.2"
feature_nonicu_imputation(cohort_output,version_path,diag_flag,lab_flag,proc_flag,med_flag)

[EXTRACTING LABS DATA]

In [28]:
diag_pd = pd.read_csv(f"./data/features/imputation_non_icu_preproc_diag.csv.gz")
#proc_pd = pd.read_csv(f"./data/features/imputation_non_icu_preproc_proc.csv.gz")
eda_basic([diag_pd, proc_pd], ['diagnosis', 'procedures'], './data/summary/')

****************************************
diagnosis
****************************************
First few rows of the dataframe:

   subject_id   hadm_id  seq_num icd_code  icd_version root_icd10_convert root
0    10000032  22595853        1     5723            9               K750  K75
1    10000032  22595853        2    78959            9               R109  R10
2    10000032  22595853        3     5715            9               K700  K70
3    10000032  22595853        4    07070            9               B150  B15
4    10000032  22595853        5      496            9               J449  J44

Columns in the dataframe:

Index(['subject_id', 'hadm_id', 'seq_num', 'icd_code', 'icd_version',
       'root_icd10_convert', 'root'],
      dtype='object')

Number of rows in the dataframe:

4756326

Missing values in the dataframe:

subject_id                 0
hadm_id                    0
seq_num                    0
icd_code                   0
icd_version                0
root_icd10_convert    293864
root                  293864
dtype: int64

Number of duplicate rows in the dataframe:

0

Data types of columns:

subject_id             int64
hadm_id                int64
seq_num                int64
icd_code              object
icd_version            int64
root_icd10_convert    object
root                  object
dtype: object

Number of unique values in each column:

subject_id            180640
hadm_id               430852
seq_num                   39
icd_code               25809
icd_version                2
root_icd10_convert     16958
root                    1692
dtype: int64

****************************************
procedures
****************************************
First few rows of the dataframe:

   subject_id   hadm_id  seq_num            chartdate icd_code  icd_version  \
0    10000032  22595853        1  2180-05-07 00:00:00     5491            9
1    10000032  22841357        1  2180-06-27 00:00:00     5491            9
2    10000032  25742920        1  2180-08-06 00:00:00     5491            9
3    10000068  25022803        1  2160-03-03 00:00:00     8938            9
4    10000117  27988844        1  2183-09-19 00:00:00  0QS734Z           10

             admittime            dischtime         proc_time_from_admit
0  2180-05-06 22:23:00  2180-05-07 17:15:00    0 days 01:37:00.000000000
1  2180-06-26 18:27:00  2180-06-27 18:49:00    0 days 05:33:00.000000000
2  2180-08-05 23:44:00  2180-08-07 17:50:00    0 days 00:16:00.000000000
3  2160-03-03 23:16:00  2160-03-04 06:26:00  -1 days +00:44:00.000000000
4  2183-09-18 18:10:00  2183-09-21 16:30:00    0 days 05:50:00.000000000

Columns in the dataframe:

Index(['subject_id', 'hadm_id', 'seq_num', 'chartdate', 'icd_code',
       'icd_version', 'admittime', 'dischtime', 'proc_time_from_admit'],
      dtype='object')

Number of rows in the dataframe:

669186

Missing values in the dataframe:

subject_id              0
hadm_id                 0
seq_num                 0
chartdate               0
icd_code                0
icd_version             0
admittime               0
dischtime               0
proc_time_from_admit    0
dtype: int64

Number of duplicate rows in the dataframe:

0

Data types of columns:

subject_id               int64
hadm_id                  int64
seq_num                  int64
chartdate               object
icd_code                object
icd_version              int64
admittime               object
dischtime               object
proc_time_from_admit    object
dtype: object

Number of unique values in each column:

subject_id              121891
hadm_id                 229445
seq_num                     41
chartdate                35117
icd_code                 12575
icd_version                  2
admittime               224869
dischtime               225726
proc_time_from_admit     35539
dtype: int64

In [94]:
med_pd = pd.read_csv(f"./data/features/imputation_non_icu_preproc_med.csv.gz")
eda_basic([med_pd], ['medications'], './data/summary/')

****************************************
medications
****************************************
First few rows of the dataframe:

   subject_id   hadm_id  pharmacy_id       poe_id  poe_seq order_provider_id  \
0    10000032  22595853     11700683  10000032-34     34.0            P76JEQ
1    10000032  22595853     14779570  10000032-22     22.0            P76JEQ
2    10000032  22595853     19796602  10000032-50     50.0            P260SK
3    10000032  22595853     20256254  10000032-32     32.0            P76JEQ
4    10000032  22595853     28781051  10000032-27     27.0            P76JEQ

             starttime             stoptime drug_type  \
0  2180-05-07 01:00:00  2180-05-07 22:00:00      MAIN
1  2180-05-07 00:00:00  2180-05-07 22:00:00      MAIN
2  2180-05-08 08:00:00  2180-05-07 22:00:00      MAIN
3  2180-05-07 01:00:00  2180-05-07 22:00:00      MAIN
4  2180-05-07 00:00:00  2180-05-07 22:00:00      MAIN

                          drug formulary_drug_cd     gsn          ndc  \
0                acetaminophen           APAP500  004490    904198861
1  sodium_chloride_0.9%__flush         NACLFLUSH     NaN            0
2                   furosemide            FURO40  008209  51079007320
3                  raltegravir           RALT400  063231      6022761
4                      heparin            HEPA5I  006549  63323026201

               prod_strength form_rx dose_val_rx dose_unit_rx form_val_disp  \
0               500mg Tablet     NaN         500           mg             1
1              10 mL Syringe     NaN           3           mL           0.3
2                40mg Tablet     NaN          40           mg             1
3              400 mg Tablet     NaN         400           mg             1
4  5000 Units / mL- 1mL Vial     NaN        5000         UNIT             1

  form_unit_disp  doses_per_24_hrs  route            admittime  \
0            TAB               NaN  PO/NG  2180-05-06 22:23:00
1            SYR               3.0     IV  2180-05-06 22:23:00
2            TAB               1.0  PO/NG  2180-05-06 22:23:00
3            TAB               2.0     PO  2180-05-06 22:23:00
4             mL               3.0     SC  2180-05-06 22:23:00

  start_hours_from_admit stop_hours_from_admit      new_ndc productndc  \
0        0 days 02:37:00       0 days 23:37:00    9041988.0        NaN
1        0 days 01:37:00       0 days 23:37:00          0.0        NaN
2        1 days 09:37:00       0 days 23:37:00  510790073.0  51079-073
3        0 days 02:37:00       0 days 23:37:00      60227.0  0006-0227
4        0 days 01:37:00       0 days 23:37:00  633230262.0  63323-262

  nonproprietaryname                                      pharm_classes  \
0                NaN                                                NaN
1                NaN                                                NaN
2         furosemide  Increased Diuresis at Loop of Henle [PE],Loop ...
3        raltegravir  HIV Integrase Inhibitors [MoA],Human Immunodef...
4     heparin sodium  Anti-coagulant [EPC],Heparin [CS],Unfractionat...

                                                 EPC
0                                                NaN
1                                                NaN
2                            ['Loop Diuretic [EPC]']
3  ['Human Immunodeficiency Virus Integrase Stran...
4  ['Anti-coagulant [EPC]', 'Unfractionated Hepar...

Columns in the dataframe:

Index(['subject_id', 'hadm_id', 'pharmacy_id', 'poe_id', 'poe_seq',
       'order_provider_id', 'starttime', 'stoptime', 'drug_type', 'drug',
       'formulary_drug_cd', 'gsn', 'ndc', 'prod_strength', 'form_rx',
       'dose_val_rx', 'dose_unit_rx', 'form_val_disp', 'form_unit_disp',
       'doses_per_24_hrs', 'route', 'admittime', 'start_hours_from_admit',
       'stop_hours_from_admit', 'new_ndc', 'productndc', 'nonproprietaryname',
       'pharm_classes', 'EPC'],
      dtype='object')

Number of rows in the dataframe:

15416708

Missing values in the dataframe:

subject_id                       0
hadm_id                          0
pharmacy_id                      0
poe_id                      120964
poe_seq                     120964
order_provider_id            60454
starttime                    16943
stoptime                     22599
drug_type                        0
drug                             1
formulary_drug_cd            18978
gsn                        1784737
ndc                              0
prod_strength                 6257
form_rx                   15397047
dose_val_rx                   6214
dose_unit_rx                  6214
form_val_disp                 6235
form_unit_disp                6250
doses_per_24_hrs           6096457
route                         3900
admittime                        0
start_hours_from_admit       16943
stop_hours_from_admit        22599
new_ndc                      24814
productndc                 6955917
nonproprietaryname         6955917
pharm_classes              8492634
EPC                        8492634
dtype: int64

Number of duplicate rows in the dataframe:

0

Data types of columns:

subject_id                  int64
hadm_id                     int64
pharmacy_id                 int64
poe_id                     object
poe_seq                   float64
order_provider_id          object
starttime                  object
stoptime                   object
drug_type                  object
drug                       object
formulary_drug_cd          object
gsn                        object
ndc                         int64
prod_strength              object
form_rx                    object
dose_val_rx                object
dose_unit_rx               object
form_val_disp              object
form_unit_disp             object
doses_per_24_hrs          float64
route                      object
admittime                  object
start_hours_from_admit     object
stop_hours_from_admit      object
new_ndc                   float64
productndc                 object
nonproprietaryname         object
pharm_classes              object
EPC                        object
dtype: object

Number of unique values in each column:

subject_id                  158421
hadm_id                     365442
pharmacy_id               13533220
poe_id                    12208956
poe_seq                      16293
order_provider_id             7349
starttime                   815477
stoptime                    790764
drug_type                        3
drug                          7822
formulary_drug_cd             3802
gsn                           6910
ndc                           5734
prod_strength                 7138
form_rx                         87
dose_val_rx                   4664
dose_unit_rx                   145
form_val_disp                 5142
form_unit_disp                 113
doses_per_24_hrs                17
route                           99
admittime                   359606
start_hours_from_admit      107952
stop_hours_from_admit       101727
new_ndc                       5371
productndc                    2933
nonproprietaryname            1074
pharm_classes                  482
EPC                            391
dtype: int64

In [6]:
labs_pd = pd.read_csv(f"./data/features/imputation_non_icu_preproc_labs.csv.gz")
eda_basic([labs_pd], ['labs'], './data/summary/')

****************************************
labs
****************************************
First few rows of the dataframe:

   labevent_id  subject_id     hadm_id  specimen_id  itemid order_provider_id  \
0          111    10000032  22595853.0     39504011   51464               NaN
1          300    10000032  22841357.0     37310858   51464               NaN
2         1819    10000248  20600184.0     15125842   51464               NaN
3         2538    10000764  27897940.0     94338985   51464               NaN
4         2813    10000826  20032235.0     93627294   51464               NaN

             charttime            storetime value  valuenum valueuom  \
0  2180-05-07 00:10:00  2180-05-07 00:40:00   NaN       NaN    mg/dL
1  2180-06-26 22:45:00  2180-06-27 00:38:00   NaN       NaN    mg/dL
2  2192-11-29 19:50:00  2192-11-29 20:14:00   NaN       NaN    mg/dL
3  2132-10-15 11:25:00  2132-10-15 11:52:00   NaN       NaN    mg/dL
4  2146-12-08 22:22:00  2146-12-09 02:35:00   NaN       NaN    mg/dL

   ref_range_lower  ref_range_upper flag priority comments  \
0              NaN              NaN  NaN  ROUTINE     NEG.
1              NaN              NaN  NaN  ROUTINE     NEG.
2              NaN              NaN  NaN     STAT     NEG.
3              NaN              NaN  NaN     STAT     NEG.
4              NaN              NaN  NaN  ROUTINE     SM .

             admittime            dischtime      label  fluid    category  \
0  2180-05-06 22:23:00  2180-05-07 17:15:00  Bilirubin  Urine  Hematology
1  2180-06-26 18:27:00  2180-06-27 18:49:00  Bilirubin  Urine  Hematology
2  2192-11-30 01:25:00  2192-11-30 19:20:00  Bilirubin  Urine  Hematology
3  2132-10-14 23:31:00  2132-10-19 16:30:00  Bilirubin  Urine  Hematology
4  2146-12-05 19:07:00  2146-12-12 16:30:00  Bilirubin  Urine  Hematology

  lab_time_from_admit
0     0 days 01:47:00
1     0 days 04:18:00
2   -1 days +18:25:00
3     0 days 11:54:00
4     3 days 03:15:00

Columns in the dataframe:

Index(['labevent_id', 'subject_id', 'hadm_id', 'specimen_id', 'itemid',
       'order_provider_id', 'charttime', 'storetime', 'value', 'valuenum',
       'valueuom', 'ref_range_lower', 'ref_range_upper', 'flag', 'priority',
       'comments', 'admittime', 'dischtime', 'label', 'fluid', 'category',
       'lab_time_from_admit'],
      dtype='object')

Number of rows in the dataframe:

60601911

Missing values in the dataframe:

labevent_id                   0
subject_id                    0
hadm_id                       0
specimen_id                   0
itemid                        0
order_provider_id      60578895
charttime                     0
storetime                353176
value                   3898484
valuenum                5551244
valueuom                7760794
ref_range_lower         9006684
ref_range_upper         9006684
flag                   39291310
priority                4886783
comments               51830099
admittime                     0
dischtime                     0
label                         0
fluid                         0
category                      0
lab_time_from_admit           0
dtype: int64

Number of duplicate rows in the dataframe:

0

Data types of columns:

labevent_id              int64
subject_id               int64
hadm_id                float64
specimen_id              int64
itemid                   int64
order_provider_id       object
charttime               object
storetime               object
value                   object
valuenum               float64
valueuom                object
ref_range_lower        float64
ref_range_upper        float64
flag                    object
priority                object
comments                object
admittime               object
dischtime               object
label                   object
fluid                   object
category                object
lab_time_from_admit     object
dtype: object

Number of unique values in each column:

labevent_id            60601911
subject_id               153050
hadm_id                  351034
specimen_id             6562228
itemid                      862
order_provider_id           740
charttime               3268448
storetime               7507436
value                     28289
valuenum                  31112
valueuom                     53
ref_range_lower             129
ref_range_upper             187
flag                          1
priority                      2
comments                   7199
admittime                346218
dischtime                342447
label                       680
fluid                         9
category                      3
lab_time_from_admit      104601
dtype: int64

In [8]:
labs_pd.label.value_counts()

label
Glucose                    2207606
Potassium                  1945621
Sodium                     1926511
Hematocrit                 1912876
Chloride                   1911014
                            ...
Chloride, Pleural                1
CD56 %                           1
CD56 Absolute Count              1
Uric Acid, Joint Fluid           1
Creatinine, Joint Fluid          1
Name: count, Length: 680, dtype: int64

In [10]:
#print the names of all labels in ascending order
labs_pd.valueuom.value_counts().index.tolist()

['mg/dL',
 'mEq/L',
 '%',
 'K/uL',
 'g/dL',
 'fL',
 'IU/L',
 'sec',
 'm/uL',
 'pg',
 'mm Hg',
 'units',
 'mmol/L',
 'ng/mL',
 '#/hpf',
 ' ',
 'ug/mL',
 'ug/dL',
 '/hpf',
 '#/uL',
 'mOsm/kg',
 'pg/mL',
 '#/lpf',
 'uIU/mL',
 'mg/L',
 'Ratio',
 'ng/dL',
 'mm/hr',
 'umol/L',
 'L/min',
 'mg/mg',
 'IU/mL',
 '+/-',
 'log10 IU/mL',
 'U/mL',
 'mIU/mL',
 'mg/24hr',
 'mL',
 'ng/mL FEU',
 'mg/g',
 'GPL',
 'MPL',
 'U/g/Hb',
 'log10 copies/mL',
 'U',
 'mL/min',
 'hrs',
 'log10 cop/mL',
 'U/L',
 'nmol/L',
 'Pos/Neg',
 'Score',
 'min']

In [11]:
# Load omr table from the hosp 
omr_pd = pd.read_csv(f"/data/corpora_alpha/MIMIC/MIMIC_IV_2.2/files/mimiciv/2.2/hosp/omr.csv.gz")
omr_pd.head()

   subject_id   chartdate  seq_num      result_name result_value
0    10000032  2180-04-27        1   Blood Pressure       110/65
1    10000032  2180-04-27        1     Weight (Lbs)           94
2    10000032  2180-05-07        1      BMI (kg/m2)         18.0
3    10000032  2180-05-07        1  Height (Inches)           60
4    10000032  2180-05-07        1     Weight (Lbs)        92.15

In [30]:
# Add the h_adm_id to the omr dataframe
# This needs to be done such that the chartdate from omr is between the admittime and dischtime from admissions table
# This is done to ensure that the omr data is within the admission time of the patient

import pandas as pd

# Load admissions table
admissions_pd = pd.read_csv(f"/data/corpora_alpha/MIMIC/MIMIC_IV_2.2/files/mimiciv/2.2/hosp/admissions.csv.gz")

# Convert chartdate, admittime, and dischtime to datetime
omr_pd['chartdate'] = pd.to_datetime(omr_pd['chartdate'])
admissions_pd['admittime'] = pd.to_datetime(admissions_pd['admittime'])
admissions_pd['dischtime'] = pd.to_datetime(admissions_pd['dischtime'])

# Merge omr and admissions dataframes on subject_id
merged_df = pd.merge(omr_pd, admissions_pd[['subject_id', 'hadm_id', 'admittime', 'dischtime']], on='subject_id', how='left')

# Filter rows where chartdate is between admittime and dischtime
filtered_df = merged_df[(merged_df['chartdate'] >= merged_df['admittime']) & (merged_df['chartdate'] <= merged_df['dischtime'])]

# Drop unnecessary columns
filtered_df = filtered_df.drop(columns=['admittime', 'dischtime'])

# Save the result back to omr_pd
omr_pd = filtered_df

In [39]:
# Now we want to use the following result_names from the omr_pd and add them as columns to the admissions dataframe
# BMI (kg/m2)	
# Weight (Lbs)	
# Blood Pressure	
# Height (Inches)	

# Pivot the omr_pd dataframe to have result_names as columns
pivot_df = omr_pd.pivot_table(index=['subject_id', 'hadm_id', 'chartdate'], columns='result_name', values='result_value', aggfunc='first').reset_index()

In [40]:
#can you tell me the missing values in the columns
eda_basic([admissions_pd], ['admissions'], './data/summary/')

****************************************
admissions
****************************************
First few rows of the dataframe:

   subject_id   hadm_id           admittime           dischtime deathtime  \
0    10000032  22595853 2180-05-06 22:23:00 2180-05-07 17:15:00       NaN
1    10000032  22841357 2180-06-26 18:27:00 2180-06-27 18:49:00       NaN
2    10000032  25742920 2180-08-05 23:44:00 2180-08-07 17:50:00       NaN
3    10000032  29079034 2180-07-23 12:35:00 2180-07-25 17:55:00       NaN
4    10000068  25022803 2160-03-03 23:16:00 2160-03-04 06:26:00       NaN

   admission_type admit_provider_id      admission_location  \
0          URGENT            P874LG  TRANSFER FROM HOSPITAL
1        EW EMER.            P09Q6Y          EMERGENCY ROOM
2        EW EMER.            P60CC5          EMERGENCY ROOM
3        EW EMER.            P30KEH          EMERGENCY ROOM
4  EU OBSERVATION            P51VDL          EMERGENCY ROOM

  discharge_location insurance language marital_status   race  \
0               HOME     Other  ENGLISH        WIDOWED  WHITE
1               HOME  Medicaid  ENGLISH        WIDOWED  WHITE
2            HOSPICE  Medicaid  ENGLISH        WIDOWED  WHITE
3               HOME  Medicaid  ENGLISH        WIDOWED  WHITE
4                NaN     Other  ENGLISH         SINGLE  WHITE

             edregtime            edouttime  hospital_expire_flag BMI (kg/m2)  \
0  2180-05-06 19:17:00  2180-05-06 23:30:00                     0        18.0
1  2180-06-26 15:54:00  2180-06-26 21:31:00                     0        19.2
2  2180-08-05 20:58:00  2180-08-06 01:44:00                     0        18.2
3  2180-07-23 05:54:00  2180-07-23 14:00:00                     0         NaN
4  2160-03-03 21:55:00  2160-03-04 06:26:00                     0         NaN

  Weight (Lbs) Blood Pressure Height (Inches)
0        92.15            NaN              60
1        98.32            NaN             NaN
2        93.03            NaN             NaN
3          NaN            NaN             NaN
4          NaN            NaN             NaN

Columns in the dataframe:

Index(['subject_id', 'hadm_id', 'admittime', 'dischtime', 'deathtime',
       'admission_type', 'admit_provider_id', 'admission_location',
       'discharge_location', 'insurance', 'language', 'marital_status', 'race',
       'edregtime', 'edouttime', 'hospital_expire_flag', 'BMI (kg/m2)',
       'Weight (Lbs)', 'Blood Pressure', 'Height (Inches)'],
      dtype='object')

Number of rows in the dataframe:

432977

Missing values in the dataframe:

subject_id                   0
hadm_id                      0
admittime                    0
dischtime                    0
deathtime               424340
admission_type               0
admit_provider_id            4
admission_location           0
discharge_location      119188
insurance                    0
language                     0
marital_status            9280
race                         0
edregtime               132441
edouttime               132441
hospital_expire_flag         0
BMI (kg/m2)             377220
Weight (Lbs)            376919
Blood Pressure          429878
Height (Inches)         403948
dtype: int64

Number of duplicate rows in the dataframe:

30

Data types of columns:

subject_id                       int64
hadm_id                          int64
admittime               datetime64[ns]
dischtime               datetime64[ns]
deathtime                       object
admission_type                  object
admit_provider_id               object
admission_location              object
discharge_location              object
insurance                       object
language                        object
marital_status                  object
race                            object
edregtime                       object
edouttime                       object
hospital_expire_flag             int64
BMI (kg/m2)                     object
Weight (Lbs)                    object
Blood Pressure                  object
Height (Inches)                 object
dtype: object

Number of unique values in each column:

subject_id              180733
hadm_id                 431231
admittime               424564
dischtime               420653
deathtime                 8598
admission_type               9
admit_provider_id         1728
admission_location          11
discharge_location          13
insurance                    3
language                     2
marital_status               4
race                        33
edregtime               293964
edouttime               294010
hospital_expire_flag         2
BMI (kg/m2)                766
Weight (Lbs)              5903
Blood Pressure            1774
Height (Inches)            342
dtype: int64